[Desktop Entry]
Version=1.32
Encoding=UTF-8
Comment=JournalViewer
Exec=jv
GenericName=JournalViewer
Icon=/usr/share/pixmaps/JournalViewer.png
Name=JournalViewer
StartupNotify=false
Terminal=0
Type=Application
Categories=Applications
